.name{
    font-size: 20px;
    
}
.email{
    font-size: 20px;

}
.option{
    font-size: 20px;
}
.zender{
    font-size: 20px;

    
}
.submit{
    font-size: 25px;
}
.password{
    font-size: 20px;
}